<div class="titulo">
	<h5>Registrar un nuevo fabricante</h5>    
	<p>A continuación podrás realizar registrar un nuevo fabricante en la base de datos.</p>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Fabricante</label>
    <input type="text" class="form-control col-md-4" id="nombre" autoFocus autocomplete="off" formControlName="nombre">
	<div class="error" *ngIf="(nombre.dirty || nombre.touched) && nombre.invalid && nombre.errors.required">El fabricante es requerido</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
  	<i class="fa fa-plus"></i> Registrar fabricante
  </button>    
</form>

